<%- model_class = Property -%>
<% set_meta_tags :site => "Find IV Housing", :title => "Available Isla Vista Rental Properties" %>
<% set_meta_tags :description => "A curated list of open apartments, houses, and other rental units in Isla Vista for UCSB, SBCC, and other students or tenats" %>
<% set_meta_tags :keywords => %w[Isla Vista IV Housing Rentals Properties Units Find Search Available UCSB Santa Barbara Students Leasing List] %>

<div class="page-header">
</div>
<table class="table table-striped">
  <thead>
    <tr>
   <!--   <th><%= model_class.human_attribute_name(:name) %></th> -->
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:property_type) %></th>
      <th>Beds/Baths</th>
      <th><%= model_class.human_attribute_name(:rent)  %></th>
<!--      <th><%= model_class.human_attribute_name(:description) %></th> -->
      <th>Landlord</th>
<!--      <th><%= model_class.human_attribute_name(:created_at) %></th> -->
<!--      <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
      <th>Lease Available For 2014-2015?</th> <!-- Hahahahaha dont do this in the future -->
    </tr>
  </thead>
  <tbody>
    <%
     properties_order = []
     first = []
     last = []
     @properties.order(:rent).each do |property|
       if property.rent.to_f <= 0 || property.date_available.year != 2014
         last << property
       else
         first << property
       end
     end
     properties_order = first + last
     properties_order.each do |property| 
     %>
      <tr>
        <td><%= link_to property.address, property_path(property) %></td>
        <td><%= property.property_type %></td>
        <td><%= property.size_type %></td>
        <td><%= number_to_currency(property.rent) %></td>
        <td><%= property.landlord.name %></td>
        <td class="<%=property.is_available ? "lease_available" : "lease_unavailable"%>"><%= property.is_available ? "Yes" : "No" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--<%= link_to t('.new', :default => t("helpers.links.new")),
            new_property_path,
            :class => 'btn btn-primary' %>

<%= gmaps4rails(@json) %>
<%= @json %> -->
