<%- model_class = Property -%>


<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
   <!--   <th><%= model_class.human_attribute_name(:name) %></th> -->
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:property_type) %></th>
      <th>Beds/Baths</th>
      <th><%= model_class.human_attribute_name(:rent)  %></th>
<!--      <th><%= model_class.human_attribute_name(:description) %></th> -->
      <th>Landlord</th>
<!--      <th><%= model_class.human_attribute_name(:created_at) %></th> -->
<!--      <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
      <th>Lease Available For 2014-2015?</th> <!-- Hahahahaha dont do this in the future -->
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| 
     leasing_now = property.date_available.year == 2014 %>
      <tr>
        <!-- <td><%= property.name %></td> -->
        <td><%= link_to property.address, property_path(property) %></td>
        <td><%= property.property_type %></td>
        <td><%= property.size_type %></td>
        <td><%= number_to_currency(property.rent) %></td>
        <!-- <td><%= property.description %></td> -->
        <td><%= property.property_manager.name %></td>
        <td class="<%=leasing_now ? "lease_available" : "lease_unavailable"%>"><%= leasing_now ? "Yes" : "No" %></td>
<!--        <td><%=l property.created_at %></td> -->
<!--        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_property_path(property), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      property_path(property),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<!--<%= link_to t('.new', :default => t("helpers.links.new")),
            new_property_path,
            :class => 'btn btn-primary' %>

<%= gmaps4rails(@json) %>
<%= @json %> -->
