<%- model_class = Property -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="container-fluid">
  <div class="row">
  <div class="col-md-6"> 
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab" id="map-text">Map</a></li>
      <li><a href="#street" data-toggle="tab" id="street-text">Street View</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
            <div id="map-canvas" style="width: auto; height: 300px"></div> 
      </div>

      <div class="tab-pane" id="street">
        <div id="pano" style="width:auto; height: 300px;"></div> 
      </div>

    </div> <!-- end tab panes -->
  </div> <!-- end col-md-6 -->

        <div class="col-md-4"> 
            <strong><%= model_class.human_attribute_name(:name) %>:</strong>
            <%= @property.name %>
            <br>
            <strong><%= model_class.human_attribute_name(:address) %>:</strong>
            <%= @property.address %>
        </div>
  </div> <!-- end row -->
<!--  <div class="row">

    <div class="col-md-6"> 
        <div id="map-canvas" style="width: auto; height: 300px"></div> 
    </div>

    <div class="col-md-4"> 
        <strong><%= model_class.human_attribute_name(:name) %>:</strong>
        <%= @property.name %>
        <br>
        <strong><%= model_class.human_attribute_name(:address) %>:</strong>
        <%= @property.address %>
    </div>
  </div> -->

  <div class="row">
  <dt><strong><%= model_class.human_attribute_name(:property_type) %>:</strong></dt>
  <dd><%= @property.property_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @property.description %></dd>
  <dt><strong>Landlord</strong></dt>
  <dd><%= @property.property_manager.name %> <br>
  <%= @property.property_manager.phone_number %> <br>
  <%= @property.property_manager.email %></dd>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">

var myLatLng, panoOptions;
var sv = new google.maps.StreetViewService();
var geocoder = false;
function initialize() {
    var myLatLng = new google.maps.LatLng(<%=@property.latitude%>,<%=@property.longitude%>);
//    myLatLng = new google.maps.LatLng(34.413618, -119.860407);  
//    myLatLng = new google.maps.LatLng(44.345573,-71.098326);
    var mapOptions = {
      center: myLatLng,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(
        document.getElementById("map-canvas"), mapOptions);
    var panoOptions = {
  //                  position: myLatLng,
                    pov: {
                        heading: 1,// undefined,
                        pitch: 10
                    },
                    disableDefaultUI: false,
                    zoomControl: false,
                    panControl: false,
                    addressControl: false,
                    linksControl: false,
                    visible: true
    };
    var panorama = new  google.maps.StreetViewPanorama(document.getElementById("pano"),panoOptions);
    map.setStreetView(panorama);
    console.log(sv);

                 if (sv && myLatLng) sv.getPanoramaByLocation(myLatLng, 60, function(data, status) {
                    if (status == google.maps.StreetViewStatus.OK) {

                        // street view is available
              //          scope.svUnavailable = false;

                        var carLatLng = data.location.latLng;
                        panoOptions.pov.heading = google.maps.geometry.spherical.computeHeading(carLatLng, myLatLng);
                    
                            panorama.setPosition(carLatLng);
                            panorama.setPov(panoOptions.pov);
                            console.log(panorama);
                    } 
                });

}
google.maps.event.addDomListener(window, 'load', initialize);

$('#street-text').click(function (e) {
  initialize();
  console.log("test");
});



</script>
