<%= form_for(@property_manager) do |f| %>
  <% if @property_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property_manager.errors.count, "error") %> prohibited this property_manager from being saved:</h2>

      <ul>
      <% @property_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
