<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property_manager.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property_manager.description %>
</p>
  <strong>Email:</strong>
  <%= @property_manager.email %>
</p>
  <strong>Phone Number:</strong>
  <%= @property_manager.phone_number %>
</p>
  <strong>Address:</strong>
  <%= @property_manager.address %>
</p>

<%= link_to 'Edit', edit_property_manager_path(@property_manager) %> |
<%= link_to 'Back', property_managers_path %>
