<h1>Listing units</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Type</th>
      <th>Rent</th>
      <th>Date available</th>
      <th>Description</th>
      <th>Security deposit</th>
      <th>Property</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.number %></td>
        <td><%= unit.unit_type %></td>
        <td><%= unit.rent %></td>
        <td><%= unit.date_available %></td>
        <td><%= unit.description %></td>
        <td><%= unit.security_deposit %></td>
        <td><%= unit.property %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
