<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @unit.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @unit.unit_type %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @unit.rent %>
</p>

<p>
  <strong>Date available:</strong>
  <%= @unit.date_available %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Security deposit:</strong>
  <%= @unit.security_deposit %>
</p>

<p>
  <strong>Property:</strong>
  <%= @unit.property %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
